$primary: #ea1d2c;
$prefix: '';

.button {
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  border: none;
}

.content-size {
  height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .content-size {
    height: -webkit-fill-available;
  }
}

@import "bootstrap/scss/bootstrap";